<template>
    <section class="row">
        <div class="gridNavigation__container"> 
            <div class="gridNavigation__item agency__services">
                <a class="grid__item__url" href="">
                    <h2>Agency Services</h2>
                    <img class="img-transform" src="../assets/images/icons8-light-on-64.png" alt="">
                </a>
            </div>
            <div class="gridNavigation__item digital__solutions">
                <a class="grid__item__url" href="">
                    <h2>Digital Solutions</h2>
                    <img class="img-transform" src="../assets/images/icons8-monitor-64.png" alt="">
                </a>    
            </div>
            <div class="gridNavigation__item spaces">
                <a class="grid__item__url" href=""> 
                    <h2>Spaces</h2>
                    <img class="img-transform" src="../assets/images/icons8-calendar-50.png" alt="">
                </a>
            </div>
            <div class="gridNavigation__item schwag">
                <a class="grid__item__url" href="">
                    <h2>Schwag</h2>
                    <img class="img-transform" src="../assets/images/icons8-tea-cup-64.png" alt="">
                </a>
            </div>
        </div>
        </section>
</template>

<script>
export default {
  name: "mainNavigation"
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.gridNavigation__container {
  display: grid;
  grid-template-columns: repeat(10, calc(10% - 14.5px));
  grid-gap: 1em;
  width: 100%;
  grid-template-rows: 225px 225px;
}

img.img-transform {
  filter: invert(100%);
}

.gridNavigation__container .gridNavigation__item {
  flex-direction: column;
  display: flex;
  align-items: center;
  color: white;
  padding-left: 1em;
  padding-right: 1em;
  position: relative;
}
.gridNavigation__container .gridNavigation__item.agency__services {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: span 2;
  background: #599139;
}
.gridNavigation__container .gridNavigation__item.digital__solutions {
  grid-column-start: 5;
  grid-column-end: 11;
  background-color: #1738D2;
}
.gridNavigation__container .gridNavigation__item.spaces {
  grid-column-start: 5;
  grid-column-end: 8;
  background-color: #41666e;
}
.gridNavigation__container .gridNavigation__item.schwag {
  grid-column-start: 8;
  grid-column-end: 11;
  background-color: #EF6D1C;
}
.gridNavigation__container img.img-transform {
  position: absolute;
  filter: invert(100%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  top: 50%;
}

a.grid__item__url {
  color: white;
  text-decoration: none;
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

@media (max-width: 1024px) {
  .gridNavigation__container {
    grid-template-rows: repeat(3, 200px);
  }
  .gridNavigation__container .gridNavigation__item.agency__services {
    grid-column-end: 11;
    grid-row-end: span 1;
  }
  .gridNavigation__container .gridNavigation__item.digital__solutions {
    grid-column-start: 1;
  }
  .gridNavigation__container .gridNavigation__item.spaces {
    grid-column-start: 1;
    grid-column-end: 6;
  }
  .gridNavigation__container .gridNavigation__item.schwag {
    grid-column-start: 6;
  }
}
</style>
