<template>
    <header class="container">
        <div class="row navigation__container">
            <a class="dsLogo" href=""><img src="../assets/images/ds logo.png" alt="Design Studio Logo"></a>
            <nav role="menubar" >
            <a tabindex="0" role="menuitem" href=""> <img src="../assets/images/user.png" alt=""> </a>
            <a tabindex="0" role="menuitem" href=""> <img src="../assets/images/email.png" alt=""> </a>
            <a tabindex="0" role="menuitem" href=""> <img src="../assets/images/burger.png" alt=""> </a>
            </nav>
        </div>        
    </header>
</template>

<script>
export default {
  name: "navigationBar"
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

/*navigation  bar */  
a.dsLogo {
  flex: 1;
}
.row.navigation__container nav {
  display: flex;
  justify-content: space-between;
  flex-basis: 150px;
}
header {
  padding: 1em;
}

@media (max-width: 520px){
  .row.navigation__container {
      justify-content: center;
  }
  a.dsLogo{
    text-align: center;
  }
}
/*navigation  bar */  
</style>
