<template>
  <div id="app">
    <navigationBar></navigationBar>
    <mainNavigation></mainNavigation>
    <searchBar></searchBar>
    <gridResults></gridResults>
  </div>
</template>

<script>
import HelloWorld from "./components/HelloWorld.vue";
import navigationBar from "./components/navigationBar.vue";
import mainNavigation from "./components/mainNavigation.vue";
import searchBar from "./components/searchBar.vue";
import gridResults from "./components/gridResults.vue";

export default {
  name: "app",   
  components: {
    HelloWorld,
    navigationBar,
    mainNavigation,
    searchBar,
    gridResults
  }
};
</script>

<style>


*, ::after, ::before {
  box-sizing: border-box;
}

body{
  background-color: #EFEFEF;
  font-family:  "Lucida Sans Unicode", "Lucida Grande", sans-serif;;
}
.row,
.container{
  max-width: 1400px;
  width: 100%;
  display: flex;
  margin: 0 auto;
  position: relative;
  flex-wrap: wrap;
}
.row{
  padding: 1em;
}
</style>
